
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}